.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/
*.iml
gradle/
gradle*
*~
*/build/
build/
app/fabric.properties
app/releases
app/google_services.json
*.apk
app/*.apk
*.properties
